@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

blockquote {
  quotes: none;
}

blockquote:before {
  content: '';
  content: none;
}

blockquote:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

q {
  quotes: none;
}

q:before {
  content: '';
  content: none;
}

q:after {
  content: '';
  content: none;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article {
  display: block;
}

aside {
  display: block;
}

details {
  display: block;
}

figure {
  display: block;
}

figcaption {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

#wrap {
  padding: 4rem 8.5rem;
  font-family: "Microsoft JhengHei";
  background-color: #F0F0F0;
  font-weight: 900;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.top .city {
  margin-right: 30px;
}

.top .city select {
  margin-top: 20px;
  width: 360px;
  height: 56px;
  border: 3px solid #000000;
  background-color: #FFFFFF;
}

.scaleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scaleBar table {
  width: 100%;
  border: 3px solid #000000;
  font-size: 16px;
}

.scaleBar table tr {
  height: 56px;
  padding: 1.6rem 0rem;
}

.scaleBar table tr td {
  background-color: #FFFFFF;
}

.scaleBar table tr span {
  display: inline-block;
}

.scaleBar table th, .scaleBar table td {
  width: 16.66%;
  border: 3px solid #000000;
  vertical-align: middle;
  text-align: center;
}

.titleArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.titleArea .dashed {
  width: 800px;
  border-bottom: 2px dotted #000000;
}

.titleArea .text p {
  font-size: 16px;
}

.titleArea .text ＆ span {
  font-size: 16px;
}

.contentArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contentArea .sideMenu {
  width: 40%;
  margin-left: 30px;
  margin-right: 44px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.item .itemtitle {
  font-size: 36px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
}

.item .itemaqi {
  font-size: 48px;
  border-left: 3px solid #000000;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.itemContent {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-color: #FFFFFF;
}

.itemTex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.itemTex p {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.itemTex p span {
  font-size: 16px;
}

.boderN {
  border: none;
}

.formcontent {
  width: 80%;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.list li p {
  font-size: 36px;
  background-color: #FFFFFF;
  width: 180px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list li span {
  font-size: 48px;
  border-left: 3px solid #000000;
  width: 151px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000000;
  color: #F0F0F0;
  text-align: center;
  padding: 6px;
}

.box-1 {
  background-color: #95F084;
}

.box-2 {
  background-color: #FFE695;
}

.box-3 {
  background-color: #FFAF6A;
}

.box-4 {
  background-color: #FF5757;
}

.box-5 {
  background-color: #9777FF;
}

.box-6 {
  background-color: #AD1774;
}
/*# sourceMappingURL=all.css.map */