// 字體
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-style:'Roboto', sans-serif;

// 字型
$font-size-16:16px;
$font-size-20:20px;
$font-size-24:24px;

// 顏色
$color-gray:#F0F0F0;
$color-black:#000000;
$color-white:#FFFFFF;
$color-lightgreen:#95F084;
$color-lightyellow:#FFE695;
$color-orange:#FFAF6A;
$color-deeporange:#FF5757;
$color-purple:#9777FF;
$color-deeppurple:#AD1774;
